
/* HOJA DE ESTILO CSS- DE LA PAGINA BLACKDROP */

section, article, nav, aside, header, footer, main {  display: block; } 
        /*indicamos a los navegadores,que formatee cada uno de los elementos como un nivel de bloque,
        a la veersion que concuerde. Esto para que todos los navegadores admitan nuestras etiquetas html5, 
        y para aquellos que depronto por lo antiguos no lo hacen, posteriores a internet explorer
        version 8 o anteriores, formateamos estas etiquetas y buscamos la version que las puedan mostrar*/

  /* ================================================================================
                                       H T M L 
  =================================================================================== */

  html /* No tiene papá, El es el papá, aqui configuramos TODA la página( body (header+main) + footer )*/
          {
            background-image: url('imagenes/division12columnas.jpg');  /*configuramos la imagen de fondo de la grilla*/
            background-size: 100% 100%; /* La imagen se estira para cubrir todo el contenedor */
            background-repeat: no repeat-x;
            background-position: center; /* Centra la imagen */
            background-attachment: fixed; /* Asegura que la imagen de fondo no se desplace */
            box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del contenedor */ 
            width:auto;  /*que el ancho de la pagina completa sea igual al 100% de la ventana*/
            height:5000px; /*que el alto de la pagina completa sea igual al 100% de la ventana*/          
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            margin:0; /* 10% arriba, 10% a la derecha, 30% abajo, 40% a la izquierda */
            display:grid;/*modelo que usaremos en la estructura: grid o grilla
                            12 columnas para resolucion de 1024 a 1920 o mas
                            4 columnas para celular y tablet de 0 a 1024 pixeles de ancho*/
                            /*decidimos manejar celular y tablet en una sola*/
            grid-template-columns: repeat(12, 1fr); /* Definir las 12 columnas, cada una ocupará 1/12 del ancho de la ventana */
                                                  /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
            grid-template-rows: repeat(26, 1fr);    /* Definir las 24 filas, cada una ocupará 1/24 del alto de la ventana */
                                                    /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
            gap: 0px; /*espacio entre las columnas cera cero porque el fondo total siempre debe ser solido y asi yo le diera
                        aqui algun espacio, lo ignoraria porque no hay un fondo debajo de este, osea no hay otra etiqueta 
                        que contenga a html*/  
          }


    /* ================================================================================
                                        B O D Y
    =================================================================================== */

    body /* Cuerpo , su papa es html */
          {
            /*como el body es hijo de html, se organizara en el display grid DE SU PAPÁ por defecto y ocupara */
            grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
            grid-row: 1 / 27; /* ocupara 21 filas (de la 1 a la 24, no incluye el 25 ) */
            background-color: rgba(255, 166, 0); /* Naranja con 30% de transparencia */ 
            background-size: 100% 100%; /* La imagen se estira para cubrir todo el contenedor */
            /*background-color: rgba(255, 166, 0,c0.15); /* Naranja con 30% de transparencia */ 
            /*El body EN SI MISMO también sera  desarrollado como un modelo de grid*/
                display:grid;/*modelo que usaremos en la estructura: grid o grilla  12 columnas, 23 filas */                        
                grid-template-columns: repeat(12, 1fr); /* Definir las 12 columnas, cada una ocupará 1/12 del ancho de la ventana */
                                                        /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
                grid-template-rows: repeat(26, 1fr);    /* Definir las 50 filas, cada una ocupará 1/24 del alto de la ventana */
                                                        /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
            margin:0;     /*reiniciamos las margenes a cero*/
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/

            font-family: Arial, sans-serif; /* Establece la fuente , primero se hará en Arial, si el navegador no 
                                              tiene esa letra o fuente, se hará en cualquier fuente que no tenga adornos en los 
                                              extremos, es decir cualquier fuente sans-serif*/
            font-size: clamp(14px, calc(1vw + 1vh), 50px); /* El tamaño de la fuente sera responsivo y adaptable, y estará restringido
                                                              o "clampeado" desde los 14 pixeles hasta los 50 pixeles, de manera que 
                                                              el texto puede tomar entre esos valores.
                                                              La forma dinamica como evaluara que tanto crece la letra, será:
                                                                Si el tamaño de la ventana es 
                                                                    ancho=1000 pix
                                                                    alto= 800 pix
                                                                En este caso
                                                                    1 vw = 1 % de 1000 pixeles =10 pixeles.
                                                                    1 vh = 1 % de 800 pixeles = 8 pixeles
                                                                    calc(1vw+1vh) =calc(10+8) =calc(18pixeles)
                                                              El tamaño de la letra para cuando la ventana mide 100*800 pix
                                                              sera de 18 pixeles.
                                                              Como ese valor esta entre 14 y 50, sale normal, pero si alguna vea 
                                                              escalamos la ventana super pequeña, el valor minimo de la letra sera 14 
                                                              asi los calculos digan un valor menor, y si la escalamos super gigante, el
                                                              valor máximo de la letra sera 50 pix, asi los cálculos digan un valor mayor.*/
            /*         line-height: 2em !important; /* con important lo que hacemos es decirle al navegador que esta regla debe aplicarse 
                                                      incluso si hay otras reglas, que podrian tener mayor especifidad, o con las cuales tenga 
                                                      conflicto.*/
                                                  /* "em" es el tamaño de la letra (padre) ,  
                                                      osea, si el tamaño de letra es 16 pix, la linea de altura que divide una
                                                      linea de otra sera 2*16=32 pix, esto lo que nos garantiza es que esta altura es 
                                                      responsiva o adaptable, segun el tamaño que tenga la letra */ 
            /*     letter-spacing: 0.12em !important;
            *      word-spacing: 0.16em !important;
            /*display: flex; /*el contenido interno se adapta a la caja invisible del body*/
            overflow-x: hidden; /* Esto desactiva el deslizador vertical */
            overflow-y: auto; /* Esto permite el deslizador lateral */
            flex-direction: column;
          }
          
      /* ================================================================================
                                       Inicio de sesion
      =================================================================================== */
        /* Estilos para el fondo oscuro del modal */
          .modal {
            display: none; /* Ocultar por defecto */
            position: fixed; /* Se mantiene fijo en la pantalla */
            z-index: 1000; /* Asegura que está por encima de otros elementos */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(41, 0, 0, 0.7); /* Fondo oscuro con transparencia */
            display: flex;
            justify-content: center;
            align-items: center;
          }

          /* Estilos para el contenido del modal */
          .modal-contenido {
            background-color: black;
            padding: 30px;
            border-radius: 10px;
            width: 350px;
            text-align: center;
            box-shadow: 0 0 10px rgb(5, 0, 0);
          }

          /* Botón de cerrar (la 'X') */
          .cerrar {
            color: white;
            font-size: 30px;
            font-weight: bold;
            position: absolute;
            right: 15px;
            top: 10px;
            cursor: pointer;
          }

          /* Cambio de color al pasar el mouse por la 'X' */
          .cerrar:hover {
            color: red;
          }

          /* Estilos para los campos del formulario */
          .modal-contenido input {
            width: 90%;
            padding: 8px;
            margin: 8px 0;
            border: none;
            border-radius: 5px;
            text-align: center;
          }

          /* Estilos para el botón de inicio de sesión */
          .modal-contenido button {
            background-color: rgb(112, 0, 0);
            color: white;
            font-size: 20px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
          }

          /* Efecto al pasar el mouse por el botón */
          .modal-contenido button:hover {
            background-color: rgb(216, 0, 0);
          }


      /* ================================================================================
                                        H E A D E R 
      =================================================================================== */

      header /* encabezado */
          {
            /*como el header es hijo de body, se organizara en forma de display grid DE SU PAPÁ por defecto y ocupara */
            grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
            grid-row: 1 / 2; /* ocupara 2 filas (de la 1 a la 2, NO incluye la 3 ) */
            margin:0;     /*reiniciamos las margenes a cero*/
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            background-image: url('imagenes/texturas/texturafondoblanco.jpg');
            background-color: rgba(255, 255, 255, 0.8); /*aplicarle color blanco encima 50% transparente*/
            background-blend-mode: overlay;  /* Cambia el modo de mezcla para combinar el color y la imagen */
            background-size: 100% 600%; /* La imagen se estira para cubrir todo el contenedor */
            background-position: center center; /* Centra la imagen de fondo dentro del header */
            background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
            display:flex;
            align-items: center; /*que los elementos llenen el contenedor*/
            flex-direction:row; /*que los items sean en una fila*/
            justify-content: space-between; /* Distribuye el espacio HORIZONTAL entre los elementos para que queden en una linea  */
         }

          .logoencabezado 
                          {
                                margin: 1%; /*margen 20 pixeles*/
                                padding:0; /*relleno*/
                                border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
                                width: 9em; /* 5% del contenedor donde esta:osea del header   */
                                height: 9em; /* 5% del contenedor donde esta:osea del header   */
                                object-fit: contain; /* Asegura que el logo mantenga su proporción sin deformarse */
                                cursor: pointer; /*que aparezca la manito cuando el cursor esta encima */
                                transition: color 0.3s ease;
                                align-content: center; /*alinea los elementos VERTICAL en el centro del flex-header*/
                          }

          .logoencabezado img 
                          {
                            width: 100%;
                            height: auto;
                         }
              
          .logoencabezado:hover 
                          {
                          box-shadow: 0px 0px 50px red; /* Sombra cuando se pasa el mouse*/
                          /*border: 25px solid red; /*borde sólido cuando se pasa el mouse */
                          }

          .iconoiniciarsesion
                          {
                            
                            margin: 1%; /*margen 20 pixeles*/
                            padding:0; /*relleno*/
                            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
                            width: 9em; /* 5% del contenedor donde esta:osea del header   */
                            height: 9em; /* 5% del contenedor donde esta:osea del header   */
                            min-width: 6em; /* 5% del contenedor donde esta:osea del header   */
                            object-fit: contain; /* Asegura que el logo mantenga su proporción sin deformarse */    
                            cursor: pointer; /*que aparezca la manito cuando el cursor esta encima */
                            transition: color 0.1s ease; /*que las transiciones que haga cuando le den clic sean en 0.1 seg*/
                            align-content: center; /*alinea los elementos VERTICAL en el centro del flex-header*/
                          }
  
          .iconoiniciarsesion img 
                          {
                            width: 100%;
                            height: auto;
                          }
          .iconoiniciarsesion:hover 
                          {
                            box-shadow: 0px 0px 50px red; /* Sombra  cuando se pasa el mouse*/
                            /*border: 25px solid red;  /*borde sólido cuando se pasa el mouse*/
                          }

      /* ================================================================================
                                          M A I N  
      =================================================================================== */

      main /* contenido principal del body */
          {
              /*como el body es hijo de body, se organizara en el display grid DE SU PAPÁ por defecto y ocupara */
              grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
              grid-row: 2 / 26; /* ocupara 21 filas (de la 3 a la 22, no incluye el 23 ) */
              background-color: rgba(0, 0, 255); /* Azul con 15% de transparencia */
              /*El main EN SI MISMO también sera  desarrollado como un modelo de grid porque aun necesitamos 
              ordenar unos elementos dentro de el*/ 
                  display:grid;/*modelo que usaremos en la estructura: grid o grilla  12 columnas, 23 filas */                        
                  grid-template-columns: repeat(12, 1fr); /* Definir las 12 columnas, cada una ocupará 1/12 del ancho de la ventana */
                                                          /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
                  grid-template-rows: repeat(25, 1fr);    /* Definir las 24 filas, cada una ocupará 1/24 del alto de la ventana */
                                                          /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
              padding:0;    /*reiniciamos el padding o relleno a cero*/
              border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
              margin:0;     /*reiniciamos la margen a cero, osea que la pagina no tenga margen*/ 
          }

          h1
            {
              color:rgb(0, 34, 65);
            }
            
          h2 
              {
                color: rgb(255, 255, 255);
                margin-bottom: 2em !important;
                font-size: clamp(30px, calc(0.5vw + 0.5vh), 50px);  /* de manera personalizada para que no dependa del tamaño de letra del cuerpo.*/
                text-shadow: 
                -2px -2px 0 rgb(124, 0, 0),  
                2px -2px 0 rgb(124, 0, 0),
                -2px  2px 0 rgb(124, 0, 0),
                2px  2px 0 rgb(124, 0, 0); /* Bordes en cada dirección */

                font-weight: bold; 
                grid-column: span 2; /* Ocupa todas las columnas del grid */
                grid-row: 1;
                text-align: flex-start; /* Centra el texto */   
              }

          form {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra los elementos */
            margin-bottom: 50px;
          }

          label {
                text-align: left;
                color: white;
          }
            
          .radio-group {
                display: flex;
                gap: 15px; /* Espaciado entre Cliente y Administrador */
                align-items: center;
          }

          button {
            grid-column: span 2; /* Hace que el botón ocupe las dos columnas */
            width: 100%; /* Asegura que se mantenga centrado */
            margin-top: 15px; /* Añade espacio arriba */
            padding: 10px; /* Ajusta el tamaño */
            background-color: #8b0000;
            color: white;
            border: none;
            cursor: pointer;
          }
          
          button:hover {
              background-color: #a00000;
          }
            

          /* Estilos para el banner */
          .bannersuperior 
            {
              grid-column: 1 / 13; /* El banner ocupará todo el ancho del main */
              grid-row: 1 / 2; /* El banner ocupará las primeras 3 filas */
              background-color: rgb(168, 24, 28); /* Fondo rojo */
              display: flex;
              justify-content: center; /* Centra el contenido horizontalmente */
              align-items: center; /* Centra el contenido verticalmente */
            }

          /* Estilos para el texto dentro del banner */
          .bannersuperior-text 
            {
              color: white; /* Texto blanco */
              font-size: 230%; /* El texto ocupara el 10% del alto de la ventana */
              text-transform: uppercase; /* Convertir el texto a mayúsculas */
              text-align: center; /* Centrar el texto */
              margin: 0;
              width: 100%; /* El texto ocupará el 60% del ancho del banner */
              font-weight: bold;  /*texto en negrilla*/
            }            

          .grillade6productos 
          {
            grid-column: 1 / 13; /* la grilla ocupará todo el ancho del main :12 columnas sin incluir la 13*/
            grid-row: 2 / 24; /* la grilla ocupará 14 filas */
            background-color: rgb(0, 0, 0); /* Fondo negro */
            /*La grilla de productos EN SI MISMA también sera  desarrollado como un modelo de grid porque aun necesitamos 
              ordenar unos elementos dentro de el*/ 
              display:grid;/*modelo que usaremos en la estructura: grid o grilla  12 columnas, 23 filas */                        
              grid-template-columns: repeat(12, 1fr); /* Definir las 12 columnas, cada una ocupará 1/12 del ancho de la ventana */
                                                      /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
              grid-template-rows: repeat(22, 1fr);    /* Definir las 24 filas, cada una ocupará 1/24 del alto de la ventana */
                                                      /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            margin:0;     /*reiniciamos la margen a cero, osea que la pagina no tenga margen*/ 
          }

          .proteinasunodosytres 
          {
            grid-column: 1 / 13; /* la grilla ocupará todo el ancho del main :12 columnas sin incluir la 13*/
            grid-row: 1 / 12; /* la grilla ocupará 11 filas */
            background-color: rgb(0, 0, 0); /* Fondo negro */
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            margin:  0px 0px 0px 0px; /*margin: top right bottom left;*/
            display:flex;
            flex-direction: row; /* contenido en una fila  */
            justify-content: center; /* Centra el contenido horizontalmente */
            align-items: center; /* Centra el contenido horizontalmente */
            gap:2%; /*espacioentre productos */
            flex-wrap: wrap; /* Permite que los productos se ajusten a la pantalla */
          }

          .proteinascuatrocincoyseis 
          {
            grid-column: 1 / 13; /* la grilla ocupará todo el ancho del main :12 columnas sin incluir la 13*/
            grid-row: 12 / 23; /* la grilla ocupará 14 filas */
            background-color: rgb(0, 0, 0); /* Fondo negro */
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            margin:  0px 0px 0px 0px; /*margin: top right bottom left;*/
            display:flex;
            flex-direction: row; /* contenido en una fila  */
            justify-content: center; /* Centra el contenido horizontalmente */
            align-items: center; /* Centra el contenido horizontalmente */
            gap:2%; /*espacioentre productos */
            flex-wrap: wrap; /* Permite que los productos se ajusten a la pantalla */
          }

          /* Estilo para cada producto */
          .producto {
            width: 30%; /* El ancho de cada producto será el 30% del contenedor */
            height: 97%;
            background-color: #ffffff;
            padding: 0px;
            text-align: center;
            border-radius: 8px; /* Bordes redondeados */  
            transition: transform 0.3s ease; /* Animación al pasar el mouse */
          }

          /* Efecto al pasar el mouse por el producto */
          .producto:hover {
            box-shadow: 0px 0px 30px red; /* Sombra cuando se pasa el mouse*/
            transform: translateY(-15px); /* Levanta ligeramente el producto */
          }

          /* Estilo de la imagen del producto */
          .producto img {
            width: 100%;
            height: auto;
            border-radius: 8%; /* Bordes redondeados para la imagen */
          }

          /* Estilo para el nombre del producto */
          .producto h3 {
            font-size: 180%;
            color: #000000;
            margin-top: 10px;
          }

          /* Estilo para el precio */
          .producto .precio {
            font-size: 220%;
            color: #e63946; /* Rojo oscuro */
            font-weight: bold;
            margin: 10% 0 10% 0 ; /*margin: top right bottom left;*/
          }

          /* Estilo para la descripción en lista */
          .producto .descripcion {
            list-style-type: disc; /* Usa viñetas (bullets) */
            padding-left: 15%;
            text-align: left;
          }

          /* Estilo para el botón de comprar */
          .producto .btn-comprar {
            background-color: red; /* Color de fondo del botón */
            height: 3%;  /* Ajustamos la altura */
            width: 80%;   /* Ancho en porcentaje */
            color: white;  /* Color del texto */
            border: none;  /* Sin borde */
            padding: 3%; /* Espaciado interno */
            font-size: 130%;  /* Tamaño del texto */
            border-radius: 25px;  /* Bordes más redondeados */
            cursor: pointer; /* Cambia el cursor al pasar por encima */
            margin: 15% 0 0 10% ;  /*margin: top right bottom left;*/           
            display: flex; /* Ajusta el comportamiento del botón */
            justify-content: center; /* Centra el texto horizontalmente */
            align-items: center; /* Centra el texto verticalmente */
            transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Efecto suave de transición */
          }

          /* Efecto cuando se pasa el mouse sobre el botón */
          .producto .btn-comprar:hover {
            background-color: green; /* Cambia a verde */
            box-shadow: 0px 0px 30px red; /* Sombra cuando se pasa el mouse*/
          }

          li
          {
            margin:5% 2% 0% 2%; /*margin: top right bottom left;*/
            font-size: 90%;  /* Tamaño del texto */
          }

          /* Estilos para el banner */
          .bannerinferior
          {
            grid-column: 1 / 13; /* El banner ocupará todo el ancho del main */
            grid-row: 24 / 26; /* El banner ocupará las primeras 3 filas */
            background-color: rgb(255, 255, 255); /* Fondo rojo */
            margin:0;     /*reiniciamos las margenes a cero*/
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            background-image: url('imagenes/logos/logo_blanco_letras_negras_rojas.png');
            /*background-color: rgba(255, 255, 255, 0.8); /*aplicarle color blanco encima 50% transparente*/
            /*background-blend-mode: overlay;  /* Cambia el modo de mezcla para combinar el color y la imagen */
            background-size: 95% 230%; /* La imagen se estira para cubrir todo el contenedor ancho-alto*/
            background-position: center center; /* Centra la imagen de fondo dentro del header */
            background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
            /*display:flex;
            align-items: center; /*que los elementos llenen el contenedor*/
            /*flex-direction:row; /*que los items sean en una fila*/
            /*justify-content: space-between; /* Distribuye el espacio HORIZONTAL entre los elementos para que queden en una linea  */
          }

      /* ================================================================================
                                         F O O T E R   
      =================================================================================== */

      footer 
            {
              /*como el footer es hijo de body, se organizara en el display grid DE SU PAPÁ por defecto y ocupara */
              grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
              grid-row: 26/ 27; /* ocupara 2 filas (de la 23 a la 25, NO incluye la 26 ) */
              background-color: rgb(0, 0, 0); /* Morado con 30% de transparencia */
              display:flex;/*modelo que usaremos en la estructura: flex ya solo es alinearle los elementos dentro   */
              margin:0;     /*reiniciamos las margenes a cero*/
              padding:0;    /*reiniciamos el padding o relleno a cero*/
              border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
              flex-direction: column;
            }
          a 
            {
              /*display: inline; /*situarlos horizontalmente, en lugar de verticalmente*/            
              flex-direction: row; /*situar los elementos en columna*/
              background-color: #ffffff;   
              text-decoration: underline;
              font-family: Arial, sans-serif;
              color: #000000;
              margin-top: 30% 20% 0% 20%; /*margin: top right bottom left;*/   
              font-size: 90%;  /* Tamaño del texto */          
              transition: color 0.3s ease;
              justify-content: center;  /* Centra el contenido horizontalmente */
              text-align: center;  /* Centra el texto dentro del párrafo */
            }

          .a:hover 
            {
              box-shadow: 0px 0px 50px red; /* Sombra cuando se pasa el mouse*/
              /*border: 25px solid red; /*borde sólido cuando se pasa el mouse */
              color: #005bb5;
              text-decoration: underline;
            }

          .parrafoquienesblackdrop 
            {
              flex-direction: column;
              display: flex;
              justify-content: center;  /* Centra el contenido horizontalmente */
              color: #ffffff;
              font-size: 90%;  /* Tamaño del texto */
            }

          p
            {
              text-align: center;  /* Centra el texto dentro del párrafo */
              color: #ffffff;
              margin: 0; /* Elimina el margen por defecto */
              padding: 0; /* Elimina el relleno por defecto */

            }

            .parrafoinstagramblackdrop 
            {
              
              display: flex;
              flex-direction: row;
              justify-content: center;  /* Centra el contenido horizontalmente */
              color: #ffffff;
            }

          .linkinstagramblackdrop 
            {
              display: inline-block; /* Hace que el fondo se ajuste al tamaño del texto */
              background-color: #ffffff;
              color: black;
              text-decoration: underline;
              padding: 8px; 
              margin:1%;           
              font-size: 30%;
              border-radius: 10%;              
              flex-direction: row;
              justify-content: center;  /* Centra el contenido horizontalmente */
              transition: color 0.3s ease;              
            }

          .linkinstagramblackdrop:hover 
            {
              background-color:#a00000;
              color: rgb(255, 255, 255);
              box-shadow: 0px 0px 50px red; /* Sombra cuando se pasa el mouse*/
              /*border: 25px solid red; /*borde sólido cuando se pasa el mouse */
              text-decoration: underline;
            }          

          .parrafocontactoautoras 
            {
              flex-direction: row;
              display: flex;
              justify-content: center;  /* Centra el contenido horizontalmente */
              color: #ffffff;

            }
         
          .linkinstagramautoras 
            {
              display: inline-block; /* Hace que el fondo se ajuste al tamaño del texto */             
              background-color: #ffffff;
              color: black;
              text-decoration: underline;
              padding: 8px;
              margin:1%;
              font-size: 30%;
              border-radius: 10%;                        
              flex-direction: row;
              justify-content: center;  /* Centra el contenido horizontalmente */
              transition: color 0.3s ease;
            }

          .linkinstagramautoras:hover 
            {
              background-color:   #a00000;
              color: rgb(255, 255, 255);
              box-shadow: 0px 0px 50px red; /* Sombra cuando se pasa el mouse*/
              /*border: 25px solid red; /*borde sólido cuando se pasa el mouse */
              text-decoration: underline;
            }
            .cuadrodeprueba {
              width: 320px;
              height: 200px;
              background-color: #4adb34; /* Color de fondo */
              display: flex; /* Usamos Flexbox para centrar el texto */
              justify-content: center; /* Centra el texto horizontalmente */
              align-items: center; /* Centra el texto verticalmente */
              color: white; /* Color del texto */
              font-family: Arial, sans-serif; /* Fuente del texto */
              font-size: 140%; /* Tamaño del texto */
              text-align: center; /* Centra el texto dentro del div */
              margin-left: 30px;
          }



        


