
/* HOJA DE ESTILO CSS- DE LA PAGINA BLACKDROP */

section, article, nav, aside, header, footer, main {  display: block; } 
        /*indicamos a los navegadores,que formatee cada uno de los elementos como un nivel de bloque,
        a la veersion que concuerde. Esto para que todos los navegadores admitan nuestras etiquetas html5, 
        y para aquellos que depronto por lo antiguos no lo hacen, posteriores a internet explorer
        version 8 o anteriores, formateamos estas etiquetas y buscamos la version que las puedan mostrar*/

  /* ================================================================================
                                       H T M L 
  =================================================================================== */

  html /* No tiene papá, El es el papá, aqui configuramos TODA la página( body (header+main) + footer )*/
          {
            background-image: url('imagenes/division12columnas.jpg');  /*configuramos la imagen de fondo de la grilla*/
            background-size: 100% 100%; /* La imagen se estira para cubrir todo el contenedor */
            background-repeat: no repeat-x;
            background-position: center; /* Centra la imagen */
            background-attachment: fixed; /* Asegura que la imagen de fondo no se desplace */
            box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del contenedor */ 
            width:100vw;  /*que el ancho de la pagina completa sea igual al 100% de la ventana*/
            height:100vh; /*que el alto de la pagina completa sea igual al 100% de la ventana*/          
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            margin:0; /* 10% arriba, 10% a la derecha, 30% abajo, 40% a la izquierda */
            display:grid;/*modelo que usaremos en la estructura: grid o grilla
                            12 columnas para resolucion de 1024 a 1920 o mas
                            4 columnas para celular y tablet de 0 a 1024 pixeles de ancho*/
                            /*decidimos manejar celular y tablet en una sola*/
            grid-template-columns: repeat(12, 1fr); /* Definir las 12 columnas, cada una ocupará 1/12 del ancho de la ventana */
                                                  /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
            grid-template-rows: repeat(24, 1fr);    /* Definir las 24 filas, cada una ocupará 1/24 del alto de la ventana */
                                                    /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
            gap: 0px; /*espacio entre las columnas cera cero porque el fondo total siempre debe ser solido y asi yo le diera
                        aqui algun espacio, lo ignoraria porque no hay un fondo debajo de este, osea no hay otra etiqueta 
                        que contenga a html*/  
          }


    /* ================================================================================
                                        B O D Y
    =================================================================================== */

    body /* Cuerpo , su papa es html */
          {
            /*como el body es hijo de html, se organizara en el display grid DE SU PAPÁ por defecto y ocupara */
            grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
            grid-row: 1 / 25; /* ocupara 21 filas (de la 1 a la 24, no incluye el 25 ) */
            background-color: rgba(255, 165, 0, 0.15); /* Naranja con 30% de transparencia */
            /*El body EN SI MISMO también sera  desarrollado como un modelo de grid*/
                display:grid;/*modelo que usaremos en la estructura: grid o grilla  12 columnas, 23 filas */                        
                grid-template-columns: repeat(12, 1fr); /* Definir las 12 columnas, cada una ocupará 1/12 del ancho de la ventana */
                                                        /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
                grid-template-rows: repeat(24, 1fr);    /* Definir las 24 filas, cada una ocupará 1/24 del alto de la ventana */
                                                        /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
            margin:0;     /*reiniciamos las margenes a cero*/
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/

            font-family: Arial, sans-serif; /* Establece la fuente , primero se hará en Arial, si el navegador no 
                                              tiene esa letra o fuente, se hará en cualquier fuente que no tenga adornos en los 
                                              extremos, es decir cualquier fuente sans-serif*/
            font-size: clamp(14px, calc(1vw + 1vh), 50px); /* El tamaño de la fuente sera responsivo y adaptable, y estará restringido
                                                              o "clampeado" desde los 14 pixeles hasta los 50 pixeles, de manera que 
                                                              el texto puede tomar entre esos valores.
                                                              La forma dinamica como evaluara que tanto crece la letra, será:
                                                                Si el tamaño de la ventana es 
                                                                    ancho=1000 pix
                                                                    alto= 800 pix
                                                                En este caso
                                                                    1 vw = 1 % de 1000 pixeles =10 pixeles.
                                                                    1 vh = 1 % de 800 pixeles = 8 pixeles
                                                                    calc(1vw+1vh) =calc(10+8) =calc(18pixeles)
                                                              El tamaño de la letra para cuando la ventana mide 100*800 pix
                                                              sera de 18 pixeles.
                                                              Como ese valor esta entre 14 y 50, sale normal, pero si alguna vea 
                                                              escalamos la ventana super pequeña, el valor minimo de la letra sera 14 
                                                              asi los calculos digan un valor menor, y si la escalamos super gigante, el
                                                              valor máximo de la letra sera 50 pix, asi los cálculos digan un valor mayor.*/
            /*         line-height: 2em !important; /* con important lo que hacemos es decirle al navegador que esta regla debe aplicarse 
                                                      incluso si hay otras reglas, que podrian tener mayor especifidad, o con las cuales tenga 
                                                      conflicto.*/
                                                  /* "em" es el tamaño de la letra (padre) ,  
                                                      osea, si el tamaño de letra es 16 pix, la linea de altura que divide una
                                                      linea de otra sera 2*16=32 pix, esto lo que nos garantiza es que esta altura es 
                                                      responsiva o adaptable, segun el tamaño que tenga la letra */ 
            /*     letter-spacing: 0.12em !important;
            *      word-spacing: 0.16em !important;
            /*display: flex; /*el contenido interno se adapta a la caja invisible del body*/
            /*flex-direction: column; /* Alineamos los elementos en una columna */
            /*justify-content: flex-start; /* Alineamos los elementos en la parte superior */
          }

      /* ================================================================================
                                        H E A D E R 
      =================================================================================== */

      header /* encabezado */
          {
            /*como el header es hijo de body, se organizara en forma de display grid DE SU PAPÁ por defecto y ocupara */
            grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
            grid-row: 1 / 4; /* ocupara 3 filas (de la 1 a la 3, NO incluye la 4 ) */
            display:flex;
            margin:0;     /*reiniciamos las margenes a cero*/
            padding:0;    /*reiniciamos el padding o relleno a cero*/
            border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
            background-image: url('imagenes/texturas/texturafondoblanco.jpg');
            background-color: rgba(255, 255, 255, 0.8); /*aplicarle color blanco encima 50% transparente*/
            background-blend-mode: overlay;  /* Cambia el modo de mezcla para combinar el color y la imagen */
            background-size: 100% 600%; /* La imagen se estira para cubrir todo el contenedor */
            background-position: center center; /* Centra la imagen de fondo dentro del header */
            background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
            justify-content: space-between; /* Distribuye el espacio entre los elementos para que queden en una linea  */
            align-items: center; /*alinea los elementos verticalmente en el centro del flex-header*/
                      
          }

          .logoencabezado 
                          {
                                margin-left: 20px; /*margen 20 pixeles*/
                                width: 100%; /* El logo se ajustará al 100% del contenedor */
                                height: auto; /* Mantiene la relación de aspecto del logo */
                                max-width: 5.5em; /* 5% del contenedor donde esta:osea del header   */
                                max-height: 5.5em; /* 5% del contenedor donde esta:osea del header   */
                                object-fit: contain; /* Asegura que el logo mantenga su proporción sin deformarse */
                                transition: color 0.3s ease;
                          }
              
          .logoencabezado:hover 
                          {
                          box-shadow: 0px 0px 50px red; /* Sombra cuando se pasa el mouse*/
                          /*border: 25px solid red; /*borde sólido cuando se pasa el mouse */
                          }

          .iconoiniciarsesion
                          {
                            margin-right: 20px; /*margen 20 pixeles*/
                            width: 5.5em; /* 5% del contenedor donde esta:osea del header   */
                            height: 5.5em; /* 5% del contenedor donde esta:osea del header   */       
                            cursor: pointer; /*que aparezca la manito cuando el cursor esta encima */
                            transition: color 0.1s ease; /*que las transiciones que haga cuando le den clic sean en 0.1 seg*/
                          }
  
          .iconoiniciarsesion:hover 
                          {
                            box-shadow: 0px 0px 50px red; /* Sombra  cuando se pasa el mouse*/
                            /*border: 25px solid red;  /*borde sólido cuando se pasa el mouse*/
                          }

      /* ================================================================================
                                          M A I N  
      =================================================================================== */

      main /* contenido principal del body */
          {
              /*como el body es hijo de body, se organizara en el display grid DE SU PAPÁ por defecto y ocupara */
              grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
              grid-row: 4 / 22; /* ocupara 21 filas (de la 1 a la 21, no incluye el 22 ) */
              background-color: rgba(0, 0, 255, 0.15); /* Azul con 15% de transparencia */
              /*El main EN SI MISMO también sera  desarrollado como un modelo de grid porque aun necesitamos 
              ordenar unos elementos dentro de el*/ 
                  display:grid;/*modelo que usaremos en la estructura: grid o grilla  12 columnas, 23 filas */                        
                  grid-template-columns: repeat(12, 1fr); /* Definir las 12 columnas, cada una ocupará 1/12 del ancho de la ventana */
                                                          /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)*/
                  grid-template-rows: repeat(24, 1fr);    /* Definir las 24 filas, cada una ocupará 1/24 del alto de la ventana */
                                                          /* 1fr quiere decir que cada columna ocupara una fraccion de 1/12 de manera equitativa)
              padding:0;    /*reiniciamos el padding o relleno a cero*/
              border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
              margin:0;     /*reiniciamos la margen a cero, osea que la pagina no tenga margen*/ 
          }

          /* Estilos para el banner */
          .banner 
            {
              grid-column: 1 / 13; /* El banner ocupará todo el ancho del main */
              grid-row: 1 / 8; /* El banner ocupará las primeras 2 filas */
              background-color: rgb(184, 0, 5); /* Fondo rojo */
              display: flex;
              justify-content: center; /* Centra el contenido horizontalmente */
              align-items: center; /* Centra el contenido verticalmente */
            }

          /* Estilos para el texto dentro del banner */
          .banner-text 
            {
              color: white; /* Texto blanco */
              font-size: 2em; /* El texto ocupara el 10% del alto de la ventana */
              text-transform: uppercase; /* Convertir el texto a mayúsculas */
              text-align: center; /* Centrar el texto */
              margin: 0;
              width: 100%; /* El texto ocupará el 60% del ancho del banner */
            }


      /* ================================================================================
                                         F O O T E R   
      =================================================================================== */

      footer 
          {
              /*como el footer es hijo de body, se organizara en el display grid DE SU PAPÁ por defecto y ocupara */
              grid-column: 1 / 13; /* ocupara 12 columnas (de la 1 a la 12, no incluye el 13) */
              grid-row: 22 / 25; /* ocupara 3 filas (de la 22 a la 24, NO incluye la 25 ) */
              background-color: rgba(128, 0, 128, 0.15); /* Morado con 30% de transparencia */
              display:flex;/*modelo que usaremos en la estructura: flex ya solo es alinearle los elementos dentro   */
              margin:0;     /*reiniciamos las margenes a cero*/
              padding:0;    /*reiniciamos el padding o relleno a cero*/
              border:0;     /*reiniciamos el borde a cero, osea que la pagina no tenga borde*/
          }
          a {
            display: inline; /*situarlos horizontalmente, en lugar de verticalmente*/
            margin-left: 20px; /* Márgenes izquierdo y derecho funcionan */
            margin-right: 20px;
            padding: 5px;
            text-decoration: none;
            background-color: lightcoral;
          }
          .a:hover 
          {
          box-shadow: 0px 0px 50px red; /* Sombra cuando se pasa el mouse*/
          /*border: 25px solid red; /*borde sólido cuando se pasa el mouse */
          }


